.navigation{
    height: 30px;
    background: #e3e4e5;
    border-bottom: 1px solid #dddddd;
}
.nav-box{
    text-align: right;
    width: 1190px;
    margin: 0px auto;
}
.navigation ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.navigation ul li a{
    text-decoration: none;
    color: #999999;
}
.navigation ul li a:hover{
    color: #f10215;
}
.navigation ul li:not(:last-child):after{
    content: '';
    width: 1px;
    height: 14px;
    background-color: #cccccc;
    position: absolute;
    right: 0px;
    top: 8px;
    display: block;
}
.header-box{
    background-color: #fff;
}
.header-box .header{
    width: 1190px;
    height: 120px;
    margin: 0px auto;
    padding: 10px 0px;
    display: flex
}
.header-box .header .logo-box{
    width: 190px;
    height: 120px;
}
.search-box{
    width: 790px;
    padding: 0px 10px;
}
.search-box .search-bar{
    padding: 10px 50px 0px 50px; 
    display: flex;
}
.search-box input{
    width: 500px;
    height: 30px;
    border: 2px solid red;
    outline: none;
}
.ico-search{
    width: 50px;
    height: 36px;
    background-color: red;
    line-height: 36px;
    text-align: center;
}
.ico-search .ico1{
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
}
.ico-cart{
    margin-left:20px;
    border: 1px solid #cccccc;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.ico-cart a{
    color: #f10215;
    margin: 0px 15px;
}
.ico-cart .ico2{
    display: inline-block;
    color: #f10215;
    font-size: 20px;
    font-weight: bold;
}
.search-box .content{
    padding: 5px 50px 20px 50px; 
}
.search-box .content li{
    display: inline-block;
    padding-right: 10px;
}
.search-box .content li a{
    color: #999999;
}
.search-box .content li a:hover{
    color: red;
}
.search-box .content-menu{
    margin-left: 20px;
}
.search-box .content-menu li{
    display: inline-block;
    padding-right: 18px;
}
.search-box .content-menu li a{
    font-size: 15px;
    height: 30px;
    line-height: 30px;
}
.wrapper .wrapper-box{
    width: 1190px;
    margin: 10px auto;
    display: flex;
    padding: 10px;
}
.wrapper .wrapper-box .menu{
    width: 190px;
    background-color: #fff;
    padding: 10px;
    margin-right: 10px;
    position: relative;
    height: 330px;
}
.wrapper .wrapper-box .menu ul li{
    height: 25px;
    line-height: 25px;
    padding: 0px 12px;
    overflow: hidden;
}
.wrapper .wrapper-box .menu ul li .main-menu a{
    font-size: 14px;
}
.wrapper .wrapper-box .menu ul li:hover{
    background-color: #999999;
}
/* .wrapper .wrapper-box .menu ul li:hover .menucontent{
    display: block;
} */
.wrapper .wrapper-box .menu ul li .active{
    display: block!important;
}


.wrapper .wrapper-box .menu ul li .menucontent{
    position: absolute;
    left: 190px;
    top: 0;
    width: 900px;
    background-color: #fff;
    z-index: 10;
    border: 1px solid #d1cece;
    box-shadow: 5px -5px 5px #cecdcd;
    padding: 20px;
    display: none;
}
.menucontent .left{
    width: 700px;
    float: left;
}
.menucontent .left .content-title a{
    background-color: black;
    color: white;
    height: 20px;
    line-height: 2px;
    padding: 5px 10px;
    margin-right: 8px;
}
.menucontent .left .content-title a:hover{
    background-color: rgb(214, 10, 10);
}
.menucontent .left .content dl{
    display: flex;
}
.menucontent .left .content dl dt{
    width: 60px;
    text-align: right;
    flex-shrink: 0;
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
}
.menucontent .left .content dl dd a{
    padding: 4px 8px;
    word-wrap: nowrap;
}
.menucontent .right{
    float: right;
    width: 168px;
}
.menucontent .right div{
    margin-bottom: 10px;
 }
 .menucontent .right div:last-child{
    margin-bottom: 0px;
 }
 .slider-box{
     margin-right: 10px;
 }
 .slider-box .slider{
     width: 590px;
     height: 350px;
     position: relative;
     overflow: hidden;
 }
 .slider-box .slider ul{
     position: absolute;
     top: 0px;
     left: 0px;
     height: 100%;
     width: 500%;
 }
 .slider-box .slider ul li{
     float: left;
 }
 .slider-box .slider .left-btn{
    position: absolute;
    background-color: rgba(7, 17, 27,0.3);
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    left: 0;
    top: 45%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0 50% 50% 0;
 }
 .slider-box .slider .right-btn{
    position: absolute;
    background-color: rgba(7, 17, 27,0.3);
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    right: 0;
    top: 45%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:0 50% 50% 0;
 }


