.navigation{
    height: 30px;
    background: #e3e4e5;
    border-bottom: 1px solid #dddddd;
}
.nav-box{
    text-align: right;
    width: 1190px;
    margin: 0px auto;
}
.navigation ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    position: relative;
}
.navigation ul li a{
    text-decoration: none;
    color: #999999;
}
.navigation ul li a:hover{
    color: #f10215;
}
.navigation ul li:not(:last-child):after{
    content: '';
    width: 1px;
    height: 14px;
    background-color: #cccccc;
    position: absolute;
    right: 0px;
    top: 8px;
    display: block;
}
.header-box{
    height: 300px;
    background-color: sandybrown;
}
.header-box .header{
    width: 1190px;
    text-align: left;
    margin: opx auto;
    display: flex;
}